.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.flex-container > div {
    margin: 10px;
    width: 90%;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
}
.flex-container-Calculator{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.flex-container-Calculator > div {
    margin: 5px;
    width: 48%;
    text-align: center;
    line-height: 30px;
    font-size: 24px;
}
input[type=number] {
    width: 20%;
    padding: 15px 15px;
    margin: 3px;
    font-size: 24px;
    box-sizing: border-box;  
}
.button-plus{
    border: 2px solid lightgrey;
	background-color: #fff;
	font-size: 16px;
	height: 2.5em;
	width: 2.5em;
	border-radius: 999px;
    position: relative;
    cursor: pointer;
}
.button-plus:hover{
    background-color: skyblue;
}
.button-minus:hover{
    background-color: yellow;
}
.button-minus{
    border: 2px solid lightgrey;
	background-color: #fff;
	font-size: 16px;
	height: 2.5em;
	width: 2.5em;
	border-radius: 999px;
    position: relative;
    cursor: pointer;
}
.button-current-view{
    padding: 6px;
    width: 20%;
    font-size: 20px;
    background-color: #7fcae6;
    color: #ffffff;
    cursor: pointer;
}
.button-current-view:hover{
    background-color: #2342ce;
}
.footer{ 
  padding: 5px;
  /* bottom:0; */
  font-size: 16px;
  left:0;
  width:100%;
  position: absolute;
  background-color: #efefef;
  text-align: center;
  }
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
    [class="flex-container-Calculator"] > div {
        margin: 5px;
        width: 100%;
        text-align: center;
        /* line-height: 30px; */
        font-size: 20px;
    }
  }
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
.menu li {
    padding: 4px;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    background-color: #7fcae6;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
.menu li:hover {
    background-color: #0099cc;
  }
.header {
    background-color: #3387cc;
    color: #ffffff;
    width:100%;
    left:0;
    padding: 15px;
    text-align: center;
    font-size: 20px;
  }

html {
    font-family: "Lucida Sans", sans-serif;
  }
  